* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding: 1.5rem 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    z-index: 9999;
}

nav .logo {
    width: 65px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 0.8rem;
}

.nav-links a:hover {
    border-bottom: 2px solid black;
}

.nav-search-bar {
    width: calc(50vw - 20vw);
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 0.2rem 1rem;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.nav-search-bar input {
    border: none;
    padding: 0.5rem;
    background-color: transparent;
}

.nav-search-bar input:focus {
    outline: none;
}

/* Hero page */
.hero-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0;
}

.hero-page .flat-ad {
    width: 100%;
}

.hero-page .flat-ad img {
    width: 100%;
}

.hero-page-gender-section {
    width: 100%;
    display: flex;
}

.hero-page-gender-section img {
    width: 50%;
}

.hero-page-brand-ad {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
}

.hero-page-brand-ad div {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.hero-page-brand-ad div img {
    width: calc(100% / 3);
}

/* Brand-deals */
.brand-deals-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.brand-deal-poster {
    width: 100%;
}

.brand-deals-item-scroller {
    display: flex;
    padding-top: 1rem;

    width: 100%;
    overflow-x: scroll;
}

.brand-deals-item-scroller div {
    display: flex;
    animation: autoscroll 100s linear infinite;
}

@keyframes autoscroll {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(calc(-1 * (25% - 5rem)));
  }

  50% {
    transform: translateX(calc(-1 * (50% - 5rem)));
  }
  
  100% {
    transform: translateX(0);
  }
}

.scroll-container:hover .scroll-content {
  animation-play-state: paused;
}

.brand-deals-item-scroller img {
    width: calc((100vw - 5rem) / 6);
}

.brand-deals-item-scroller::-webkit-scrollbar {
    display: none;
}

/* Category section */
.category {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 0;
}

.category-img-container {
    display: grid;
    grid-template-columns: repeat(6, 0fr);
}

.category-img-container img {
    width: calc((100vw - 5rem) / 6);
}

/* footer section */
footer {
    background-color: #fafbfcc6;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    margin-top: 1rem;
}

.footer-links-container {
    width: 100%;
    padding: 0 4rem;
    display: flex;
    /* gap: 4rem; */
    justify-content: space-between;
}

footer h3 {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

footer p {
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
}

.footer-links-items {
    margin-bottom: 1rem;
}


.popular-searches-container {
    width: 100%;
    padding: 0 4rem;
}

.popular-searches-links {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.popular-searches-links p::after {
    content: ' | ';
}

.social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.prod-detail-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.prod-detail {
    display: flex;
    gap: 0.5rem;
}

.contact-us-container {
    width: 100%;
    padding: 2rem 4rem 0;
    display: flex;
    justify-content: space-between;
}

.contact-us-container span {
    color: rgb(0, 98, 255);
    font-weight: 700;
}
