* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: rgba(240, 248, 255, 0.332);
}

/* navbar */
nav {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
}

.nav-left-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-logo h3 {
    font-weight: 300;
}

.nav-logo img {
    width: 30px;
}

.nav-right-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-right-items img, i {
    cursor: pointer;
}

.nav-profile {
    display: flex;
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 0, 0, 0.871) rgba(0, 0, 255, 0.888) rgba(0, 128, 0, 0.877) rgba(255, 166, 0, 0.86);
}

.nav-profile img {
    width: 35px;
    border-radius: 50%;
}

@media (max-width: 64rem) {
    .nav-profile {
        display: none;
    }
    .nav-right-items img {
        display: none;
    }
}

/* main-container */
.main-container {
    width: 100%;
    max-height: 90vh;
    display: flex;
}

.side-bar {
    width: 20%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 2rem;
    padding: 1rem;
}

.side-bar-links {
    display: flex;
    flex-direction: column;
}

.side-bar-links a {
    text-decoration: none;
    padding: 1rem;
    border-radius: 2rem;
    color: black;
    font-weight: 400;
    font-size: 1.1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.side-bar-links a:hover {
    background-color: rgba(128, 128, 128, 0.274);
}

.side-bar-links button {
    background-color: transparent;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 400;
    font-size: 1.1rem;
}

.side-bar-links button:hover {
    background-color: rgba(128, 128, 128, 0.274);
}

.content {
    width: 80%;
    background-color: #fff;
    border-top-left-radius: 1.5rem;
    display: flex;
    padding: 1.2rem;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.class-box {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 300px;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.279);
    position: relative;
    cursor: pointer;
}

.class-box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.class-box .box-head {
    background-image: url("assets/classroom-background");
    background-position: center;
    background-size: cover;
    padding: 0.5rem;
    width: 100%;
    height: 30%;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-head h2 {
    font-weight: 500;
}

.box-head p {
    font-weight: 300;
    font-size: 0.8rem;
}

.box-middle {
    width: 100%;
    height: 50%;
}

.box-bottom {
    width: 100%;
    height: 20%;
    border-top: 1px solid rgba(0, 0, 0, 0.279);;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
    padding: 0.5rem;
}

.box-bottom a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 0.5rem;
    border-radius: 50%;
}

.box-bottom a:hover {
    background-color: rgba(0, 0, 0, 0.148);
}

.class-round-logo {
    width: 80px;
    height: 80px;
    background-color: #679e37;
    border-radius: 50%;
    position: absolute;
    right: 0.8rem;
    top: 18%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    color: #fff;
}

@media (max-width: 64rem) {
    .side-bar {
        display: none;
    }

    .content {
        width: 100%;
    }
}